li{
    color: deeppink;
}

body{
    background: #ff0ff2;
    padding-top: 20px;
    font-family: "Comic Sans MS", serif;
}

footer{
    position:fixed;
    bottom: 5px;
}

table{
    background: aqua;
    border-radius: 10px;
}

td{
    padding: 10px 0 10px 0;

}

.navigation{
    background: aquamarine;
    border-radius: 10px;
}

.uglyDiv{
    background: aqua;
    border-radius: 10px;

    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    unicode-bidi:bidi-override;
    direction:rtl;
}